
.webdev-hero {
  height: 100vh;
  align-items: center;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}

.webdev-content{
  width: 90%;
  position: relative;
  background-color: coral;
}

.first-row {

  display: flex;
}

.webdev-hero-name {
  padding: 0 10px;
  color: rgba(35, 128, 156, 0.432);
}

a {
  display: flex;
  width: 200px;
  justify-content: center;

}



/* About */

.webdev-about {
  text-align: center;
}

.skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.skill-info-wrapper {
  width: 20%;
  background-color: wheat;
  border-radius: 10px;
}

.skill-image img {
  width: 100px;
}



.about-content-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.about-info-wrapper, .about-languages{
  width: 40%;
  margin: 200px 0 0 0; 
}