.webdev-body {
    background-color: #43464b;
}

.webdev-hero {
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.webdev-left{
  width: 50%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.webdev-left h2 {
  width: 200px;
  color: orange;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 40px;
}


.webdev-right {
   width: 50%;
  height: 100%;
  background-color: orange;
   display: flex;
  justify-content: flex-start;
  align-items: center;
}

.webdev-right h3 {
  width: 250px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   text-align: right;
   padding-right: 5px;
   font-size: 30px;
}




/* -----------   About   ------------- */

.webdev-about {
  text-align: center;

}

.about-title h2{
  color: #eee;
  font-size: 25px;
  padding: 30px;
  text-align: center;

}

.skills-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
  color: black;
}

.skill-info-wrapper {
  width: 30%;
  max-width: 300px;
  margin: 100px 0;
  padding: 20px;
  background-color: rgba(196, 196, 196, 0.733);
  border-radius: 10px;

}

.skill-image img {
  width: 40%;
}

.skill-info-wrapper h2 {
  font-size: 20px;
}

/* About Content */

.about-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.about-info-wrapper, .about-languages{
  width: 45%;
  padding: 100px 0 100px 0; 
  text-align: center;
  align-items: center;

}

.about-info-wrapper {
  display: flex;
  flex-direction: column;
}


.about-img-holder img{
  width: 40%;
  border-radius: 10px ;


}

.about-bio {
  padding: 20px;
  color: #eee;
  text-align: center;
  max-width: 400px;
}

.about-bio h2 {
  color: #eee;
}

.about-bio-link {
  text-decoration: none;
  color: orange ;

}


.language-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.language-title {
  width: 30%;
  background-color: rgb(49, 109, 117);
}

.language-percentage {
  text-align: right;
  width: 70%;
  background-color: rgba(134, 146, 146, 0.37);
  transition: all 2s ease-in-out;
}

.lang-progress {
  background-color: rgb(8, 77, 77);
  width: 80%;
  height: 100%;
}

.language-percentage p {
  padding-right: 5px;
}



/* ------------  Projects ------------- */


.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 100px 5px;

  

}

.project-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  justify-content: center;


}

.project-item {
  max-width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

}

.project-item img {
  max-height: 350px;
  overflow: hidden;
}

.project-hover h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.project-hover p {
  font-size: 20px;
  color: turquoise;
}

.project-hover span {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-transform: uppercase;
  text-align: center;
  color: black;
  background-color: transparent;
  font-size: 15px;
  font-weight: 400;
  border: 2px solid turquoise;
  border-radius: 10px;
  padding: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.project-item span:hover {
  background-color: turquoise;
}


/* --------- Project Model ----------- */


.backdrop2{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(2px);
  overflow: hidden;
}

.project-modal {
  text-align: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  height: 80%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 70px auto;
  box-shadow: 0px 5px 20px 15px rgba(0,0,0,0.5);
  border: 0px solid black;
  background-color: #efefee;
  color: black;

}

.project-modal-image {
  position: relative;
  width: 100%;
  height: 60%;
  min-height: 300px;
  background-color: #333;
  overflow: hidden;

}

.project-modal-image img {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);

}

.project-modal-description {
  position: relative;
  text-align: left;
  margin: 20px;
  overflow: hidden;
}

.project-modal-description h3, .project-modal-description p {
  font-weight: 500;
  margin: 5px 0;
  color: rgba(0, 0, 0, 0.6);
}

.button-web {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 5px 0px;

}

.button-web-a {
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: rgb(12, 12, 12);
  padding: 10px;
  cursor: pointer;
  border: solid 1px black;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.button-web-a:hover {
  background-color: transparent;
  color: black;
}

.github-code {
  text-decoration: none;
  background-color: transparent;
  color: black;
  cursor: pointer;

}



.close {
    position: absolute;
    right: 20px;
    top: 30px;
    width: 32px;
    height: 32px;
    opacity: 0.4;
    z-index: 99;
    cursor: pointer;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }



.project-hover {
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}





/* ---------------  Responsive   ------------ */

@media (max-width: 730px) {

  .project-item {
    max-width: 260px;
  }

  .project-item img {
    max-height: 260px;
  }

  .project-hover p {
    display: none;
  }

  .project-hover h1 {
    font-size: 20px;
  }

  .project-hover span {
    font-size: 12px;
    font-weight: 400;
    border: 2px solid turquoise;
    border-radius: 10px;
    padding: 10px;
    letter-spacing: 1px;
  }

}

@media (max-width: 600px) {

  /* Hero */

  .webdev-left h2 {
    width: 200px;
    color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    padding-left: 5px;
  }

  .webdev-right h3 {
    width: 250px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    padding-right: 5px;
    font-size: 22px;
  }



  /* About */

  .skills-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


  .skill-info-wrapper {
    width: 45%;
    margin: 15px 5px;
    padding: 10px;

  }

  .skill-info-wrapper h2 {
    font-size: 14px;
  }

  .skill-info-wrapper p {
    font-size: 12px;
  }




  /* About Content */

  .about-content-wrapper {
    flex-direction: column;
  }

  .about-info-wrapper, .about-languages{
    width: 90%;
    padding: 30px 0 0 0; 
  }

  .about-img-holder img{
    width: 50%;
  }



  /* Projects */

  .project-wrapper {
    margin: 30px 5px;
    
  }

  .project-item {
    max-width: 180px;
  }

  .project-item img {
    max-height: 180px;
  }

  .project-item h1 {
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }

  .project-hover p {
    display: none;
  }

  .project-item span {
    font-size: 10px;
    padding: 3px;
  }

}