.kiteboarding-body {
   background-color: rgb(109, 109, 109);
}

/* Hero Section */
.k-hero-wrapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 70px;
}


.k-hero-image{
  display: flex;
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url(../Assets/image/kitejumppano1.jpg);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;

}

.k-hero-content{
  position: absolute;
  left: 5%;
  bottom: 25%;
  background-color: transparent;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 30px;

}

.k-hero-content h1, h2, h3{
  color: black;
  text-transform: uppercase;
  font-style: italic;
  background-color: transparent;
  margin: 0px;
}

.k-hero-content h2{
  font-size: 15px;

}

.k-hero-content h3 {
  font-size: 15px;
  font-weight: 300;
}


/* Teaching Section */



.card-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #cfd8df;
  background-image: url(../Assets/image/eleveight-logo.png);
  background-size: 80px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 600px;
  margin: 10px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  text-align: center;
  overflow: hidden;
}

.kite-content {
  width: 40%;
  text-align: left;
  padding: 5px;
}

.kite-image {
  width: 40%;
  overflow: hidden;
}

.kite-image img{
  width: 90%;
  border-radius: 20px;

}



.k-buttons {
  background-color: transparent;
  align-items: center;
  padding: 10px;
}

.k-buttons a {
  background-color: transparent;
  color: black;
  text-transform: uppercase;
  border: solid 1px black ;
  border-radius: 15px;
  font-weight: 400;
  font-size: 15px;
  margin: 30px 5px 5px 0px;
  padding: 5px;
  height: 30px;
  width: 150px;
  transition: background-color 1s;
}

.k-buttons a:hover {
  background-color: rgba(255, 255, 255, 0.322);
}




@media (max-width: 850px) {


  .k-hero-content{
    font-size: 20px;
  }

  .k-hero-image{
    height: 60vh;
    background-position: center;
  }

  .card-block {
    display: flex;
    flex-direction: column;
  }

  .kite-content {
    width: 90%;
  }
  
  
  .kite-image {
    width: 100%;
  }

  .kite-image img{
    width: 50%;
  
  }
  

}













