
.footer{
  width: 100%;
  text-align: center;
  z-index: 9;


}
.footer-content{
  background-color: rgb(34, 34, 34);
  height: 60px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.footer-content h2 {
  background-color: transparent;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 15px;
  width: 33%;


}


.social-icons{
  background-color: transparent;
  width: 170px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


}

.social-icons a, .social-icons i{
  width: 100%;
  height: auto;
  background-color: transparent;
  text-decoration: none;
  color: white;
  transition: all .2s ease-in-out;
  font-size: 17px;


}

.social-icons i:hover {
  color: #9A735F;
  transform: scale(0.8);
}



@media (max-width: 750px) {
  .footer-content{

  }
}
