
/* burger animated bmenu logo */

.menu-btn {
    position: fixed;
    left: 20px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 11;
}

.menu-btn_burger {
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 10px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-8px);
}

.menu-btn_burger::after {
    transform: translateY(8px);
}

/* ANIMATION */
.menu-btn.open .menu-btn_burger {
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) ;
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) ;
}
